<!DOCTYPE html>
{% extends "base.html" %}

<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<div>
<body>
{% block content %}
<h1 class ="one"><center>Ghosts and Greys</center></h1>
<p class= "one"> If this is your first visit please check out our <a href="{% url 'pages:intro' %}" class="baselinks">Introduction</a> for information on this site and contact details!</p>
<p class = "one">The following articles are written and submitted by me. 
<h3 class = "one">For articles submitted by users and to submit your own ideas, post, work etc, please click <a href="{% url 'blog:index' %}">Here</a>.</h3> 
<p class ="one">

<h2 class="one">Latest articles:</h2><br>
{% for post in posts %}
<a href="{{post.get_absolute_url }}">
{{post.title}}&nbsp;:&nbsp;</a> {{post.body|truncatewords:10}} Posted by {{post.username}} on {{post.added}}. <br>
{% endfor %}
</p>
{% endblock content %}
</body>
</div>
</html>
